.chatContent {
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.chat {
  max-width: 80%;
  width: fit-content;
}

.colChat {
  margin-top: 86px;
  margin-bottom: 56px;
}

.colSend {
  border-radius: 0 0 10px 10px;
}

.chatOtherUser {
  border-radius: 17px 17px 17px 3px;
}

.chatPerson {
  border-radius: 17px 17px 3px 17px;
}